body{
  background-image: url("https://cdn.pixabay.com/photo/2018/04/04/15/14/bitcoin-3290060_960_720.jpg");
/* background-size: cover; */
}
.tableHead{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-style: italic;
  font-size: 20px;
  background-color: gray;
  /* margin-top: 15px; */


}
.tableHead div{
  /* border-right: 5px solid #000; */
    text-align: center;
    margin: 5px
}
 .resultTable div {
   display: flex;
  flex-direction: row;
    text-align: center;
    margin:0 auto;
}

#resultTable div {
  display: flex;
  justify-content: space-around;
  /* background-color: #258; */
  border: 1px solid;
  width:100%
}
